nav {
    background-color: #292929;
    color: #F2E6B6;
    width:50%;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    margin:0;
    display:inline;
    padding:15px 0 15px 0;
    list-style:none;
    color: #F2E6B6;
    background-color: #292929;
    
}

nav ul li {
    display:inline-block;
    padding:15px 20px;
    text-transform:uppercase;
    position:relative;
    background-color: #292929;
    color:#F2E6B6;
    text-align: center;

}

nav ul li:hover {
    background-color:#5B7876;
    color:#8F9E8B;
}

nav ul li ul {
    position:absolute;
    top:50px;
    left:0;
    width:150px;
	background-color: #292929;
    display:none;
    text-align: left;
}

nav ul li ul li {
    display:block;
    background-color: #292929;
    color:#F2E6B6;
}

nav ul li:hover ul {
    display:block;
    color: #5B7876;
}

nav ul li ul li ul {
    padding:0;
    position: absolute;
    top: 5px;
    left: 151.5px;
    width: 150px;
    display: none;
    text-align: center;
    color: #8F9E8B;
}

nav ul li ul li ul li{
    visibility: none;
    display:none;
    color: #F2E6B6;
}
nav ul li ul li:hover ul li{
    visibility: visible;
    display:block;
}

#yosemite{
    visibility: none;
    display:none;
}

#sierra:hover #yosemite{
	visibility: visible;
	display: block;
}

#yosemite ul li {
	visibility: none;
	display: none;
}

#yosemite:hover ul li {
	visibility: visible;
	display: block;
}

#mammoth{
	visibility: none;
	display: none;
}

#sierra:hover #mammoth{
	visibility: visible;
	display: block;
}
#mammoth ul li {
	visibility: none;
	display: none;
}

#mammoth:hover ul li {
	visibility: visible;
	display: block;
}

#east:hover ul li{
	visibility: visible;
	display: block;
}

#east {
	visibility: none;
	display: none;
}

#sdc:hover #east{
	visibility: visible;
	display: block;
}

#east ul li{
	visibility: none;
	display: none;
}

#sdc:hover #north{
	visibility: visible;
	display: block;
}

#north{
	visibility: none;
	display: none;
}

#north ul li{
	visibility: none;
	display: none;
}

#north:hover ul li{
	visibility: visible;
	display: block;
}
